<div
  *ngIf="api.loading"
  class="w-screen h-screen absolute z-10 opacity-30 bg-black flex justify-center items-center"
>
  <mat-spinner></mat-spinner>
</div>

<div class="w-screen h-screen">
  <ng-container [ngSwitch]="api.Mode">
    <div *ngSwitchCase="'LOGIN'">
      <app-login></app-login>
    </div>
    <div *ngSwitchCase="'USER'">
      <app-user></app-user>
    </div>
    <div *ngSwitchCase="'CODE'">
      <app-code></app-code>
    </div>
    <div *ngSwitchCase="'LOG'">
      <app-log></app-log>
    </div>
    <ng-template *ngSwitchDefault> Page Not Found! </ng-template>
  </ng-container>
</div>
